h1 {
    text-align: center;
    font-family: 'Cinzel Decorative';
    font-style: normal;
    font-weight: 700;
    src: url(https://fonts.gstatic.com/s/cinzeldecorative/v19/daaHSScvJGqLYhG8nNt8KPPswUAPniZoadlKSTG7lQ.woff2) format('woff2');
    unicode-range: U+0100-02BA, U+02BD-02C5, U+02C7-02CC, U+02CE-02D7, U+02DD-02FF, U+0304, U+0308, U+0329, U+1D00-1DBF, U+1E00-1E9F, U+1EF2-1EFF, U+2020, U+20A0-20AB, U+20AD-20C0, U+2113, U+2C60-2C7F, U+A720-A7FF;
    text-shadow: 0px 5px 8px rgba(23, 44, 92, 0.584);
    font-size: 50px;
    display: inline;
    padding-left: 550px;
}

body {
    background-color: rgb(40, 34, 87);
    color: rgb(192, 240, 218);
}

h2 {
    font-family: 'Cinzel Decorative';
    font-size: 33px;
}

.logo {
    height: 80px;
    top: 8px;
    display: inline;
    float: right;
}

.navigation {
    background-color: rgb(69, 163, 121);
    overflow: hidden;
    margin-top: 20px;
    padding: 20px;
    border-radius: 20px;
    border: 30px;
    text-align: center;
    font-size: 30px;
}

.navigation a {
    align-content: space-evenly;
    font-family: 'Roboto Condensed';
    font-weight: 300;
    padding: 80px 40px;
}

.window1 {
    width: 850px;
    border-radius: 30px;
    border: 30px;
    padding: 15px;
    padding-bottom: 230px;
    padding-top: 50px;
    margin: 20px;
    margin-left: 80px;
    float: left;
    text-align: center;
    background-color: rgb(69, 163, 121);
    font-family: 'Roboto Condensed';
    font-weight: 300;
    box-sizing: border-box;
}

.window2 {
    width: 370px;
    border-radius: 30px;
    border: 30px;
    padding: 15px;
    margin: 20px;
    margin-left: 100px;
    margin-right: 85px;
    float: right;
    background-color: rgb(69, 163, 121);
    text-align: center;
    box-sizing: border-box;
}

.thumbnail {
    display: grid;
    column-gap: 5px;
    grid-template-columns: 0.2fr 0.2fr;
    gap: 3px;
    align-items: center;
}

img {
    height: 170px;
    width: auto;
    vertical-align: middle;
}

footer {
    font-family: 'Roboto Condensed';
    background-color: rgb(57, 138, 111);
    font-weight: 300;
    padding: 10px;
    margin-top: 590px;
    text-align: left;
}

header {
    background-color: rgb(57, 138, 111);
    margin: 0px;
    padding-top: 40px;
    padding-bottom: 15px;
}

p {
    font-size: 20px;
}

.main {
    background-color: rgb(57, 138, 111);
    position: absolute;
    margin-top: 15px;
}